In [61]:
import pandas as pd

In [63]:
casa_TPer_Vic1="C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/conjunto_de_datos_ENVIPE_2022_csv/conjunto_de_datos_TPer_Vic1_ENVIPE_2022/conjunto_de_datos/conjunto_de_datos_TPer_Vic1_ENVIPE_2022.csv"
TPer_Vic1_brut=pd.read_csv(casa_TPer_Vic1, encoding='latin1')
casa_TVivienda="C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/conjunto_de_datos_ENVIPE_2022_csv/conjunto_de_datos_TVivienda_ENVIPE_2022/conjunto_de_datos/conjunto_de_datos_TVivienda_ENVIPE_2022.csv"
TVivienda_brut=pd.read_csv(casa_TVivienda, encoding='latin1')
TPer_Vic1_brut= TPer_Vic1_brut.replace({'\r': ''}, regex=True)
TPer_Vic1_brut

,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,...,AP5_6_10,AP5_8,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100005.01,0100005.01.01,0100005.01.01.02,100005,1,1,B,2,1,32,...,,4,236,472,236,472,U,4,3,1
1,100005.02,0100005.02.01,0100005.02.01.01,100005,2,1,B,1,2,51,...,,4,236,472,236,472,U,4,3,1
2,100005.04,0100005.04.01,0100005.04.01.02,100005,4,1,B,2,2,42,...,,9,236,472,236,472,U,4,3,1
3,100005.05,0100005.05.01,0100005.05.01.01,100005,5,1,A,1,2,28,...,,9,236,236,236,236,U,4,3,1
4,100012.01,0100012.01.01,0100012.01.01.01,100012,1,1,B,1,2,82,...,,3,182,365,182,365,U,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92098,3260721.11,3260721.11.01,3260721.11.01.03,3260721,11,1,B,3,1,32,...,,1,294,882,,,R,2,609,13097
92099,3260721.12,3260721.12.01,3260721.12.01.01,3260721,12,1,B,1,1,64,...,,3,294,1176,,,R,2,609,13097
92100,3260721.13,3260721.13.01,3260721.13.01.02,3260721,13,1,B,2,2,42,...,,3,294,882,,,R,2,609,13097
92101,3260721.14,3260721.14.01,3260721.14.01.02,3260721,14,1,B,2,2,48,...,,3,294,1176,,,R,2,609,13097
92102,3260721.16,3260721.16.01,3260721.16.01.02,3260721,16,1,B,2,2,45,...,,2,294,882,,,R,2,609,13097

In [64]:
TVivienda_brut= TVivienda_brut.replace({'\r': ''}, regex=True)
TVivienda_brut

,ID_VIV,UPM,VIV_SEL,AREAM,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,RESULT_V,AP1_1,AP1_2,AP2_1,AP2_2,AP2_3,NAP2_3,FAC_VIV,FAC_VIV_AM,DOMINIO,EST_DIS,UPM_DIS
0,100005.01,100005,1,14,1,Aguascalientes,1,Aguascalientes,2,1,2,2,1,,1,236,236,U,3,1
1,100005.02,100005,2,14,1,Aguascalientes,1,Aguascalientes,2,1,1,3,1,,1,236,236,U,3,1
2,100005.04,100005,4,14,1,Aguascalientes,1,Aguascalientes,2,1,1,4,1,,1,236,236,U,3,1
3,100005.05,100005,5,14,1,Aguascalientes,1,Aguascalientes,1,1,1,1,1,,1,236,236,U,3,1
4,100012.01,100012,1,14,1,Aguascalientes,1,Aguascalientes,2,1,2,2,1,,1,183,183,U,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90462,3260721.11,3260721,11,,32,Zacatecas,54,Villa Hidalgo,2,1,2,3,1,,1,294,,R,609,13097
90463,3260721.12,3260721,12,,32,Zacatecas,54,Villa Hidalgo,2,1,2,6,1,,1,294,,R,609,13097
90464,3260721.13,3260721,13,,32,Zacatecas,54,Villa Hidalgo,2,1,2,5,1,,1,294,,R,609,13097
90465,3260721.14,3260721,14,,32,Zacatecas,54,Villa Hidalgo,2,1,2,6,1,,1,294,,R,609,13097
90466,3260721.16,3260721,16,,32,Zacatecas,54,Villa Hidalgo,2,1,2,9,1,,1,294,,R,609,13097

In [ ]:
# TMod_Vic

## TVivienda
Esta tabla contiene las caracterÃ­sticas de las viviendas
que fueron captadas por la carÃ¡tula del cuestionario,
asÃ­ como el recuento de los residentes de la vivienda y
el nÃºmero de hogares, es decir, la secciÃ³n I del cuestionario.

https://www.inegi.org.mx/contenidos/programas/envipe/2022/doc/fd_envipe2022.pdf

In [65]:
TVivienda_filtrada=TVivienda_brut[["ID_VIV","UPM","VIV_SEL","NOM_ENT"]]
TVivienda_filtrada

           ID_VIV      UPM  VIV_SEL         NOM_ENT
0       100005.01   100005        1  Aguascalientes
1       100005.02   100005        2  Aguascalientes
2       100005.04   100005        4  Aguascalientes
3       100005.05   100005        5  Aguascalientes
4       100012.01   100012        1  Aguascalientes
...           ...      ...      ...             ...
90462  3260721.11  3260721       11       Zacatecas
90463  3260721.12  3260721       12       Zacatecas
90464  3260721.13  3260721       13       Zacatecas
90465  3260721.14  3260721       14       Zacatecas
90466  3260721.16  3260721       16       Zacatecas

[90467 rows x 4 columns]

In [66]:
TVivienda_brut["NOM_ENT"].unique()

array(['Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila de Zaragoza', 'Colima', 'Chiapas',
       'Chihuahua', 'Ciudad de MÃ©xico', 'Durango', 'Guanajuato',
       'Guerrero', 'Hidalgo', 'Jalisco', 'Estado de MÃ©xico',
       'MichoacÃ¡n de Ocampo', 'Morelos', 'Nayarit', 'Nuevo LeÃ³n',
       'Oaxaca', 'Puebla', 'QuerÃ©taro', 'Quintana Roo', 'San Luis PotosÃ­',
       'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala',
       'Veracruz de Ignacio de la Llave', 'YucatÃ¡n', 'Zacatecas'],
      dtype=object)

In [67]:
entidades=pd.read_csv("C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/conjunto_de_datos_enoen_2022_1t_csv/conjunto_de_datos_coe2_enoen_2022_1t/catalogos/ent.csv", encoding='latin1')
entidades

    CVE              DESCRIP
0     1       Aguascalientes
1     2      Baja California
2     3  Baja California Sur
3     4             Campeche
4     5             Coahuila
5     6               Colima
6     7              Chiapas
7     8            Chihuahua
8     9     Ciudad de MÃ©xico
9    10              Durango
10   11           Guanajuato
11   12             Guerrero
12   13              Hidalgo
13   14              Jalisco
14   15               MÃ©xico
15   16            MichoacÃ¡n
16   17              Morelos
17   18              Nayarit
18   19           Nuevo LeÃ³n
19   20               Oaxaca
20   21               Puebla
21   22            QuerÃ©taro
22   23         Quintana Roo
23   24      San Luis PotosÃ­
24   25              Sinaloa
25   26               Sonora
26   27              Tabasco
27   28           Tamaulipas
28   29             Tlaxcala
29   30             Veracruz
30   31              YucatÃ¡n
31   32            Zacatecas

In [68]:
TVivienda_ent=pd.merge(TVivienda_filtrada, entidades, how='left', left_on='NOM_ENT', right_on='DESCRIP')
TVivienda_ent=TVivienda_ent.drop("NOM_ENT", axis=1)
# df.drop('column_name', axis=1, inplace=True)
TVivienda_ent

           ID_VIV      UPM  VIV_SEL   CVE         DESCRIP
0       100005.01   100005        1   1.0  Aguascalientes
1       100005.02   100005        2   1.0  Aguascalientes
2       100005.04   100005        4   1.0  Aguascalientes
3       100005.05   100005        5   1.0  Aguascalientes
4       100012.01   100012        1   1.0  Aguascalientes
...           ...      ...      ...   ...             ...
90462  3260721.11  3260721       11  32.0       Zacatecas
90463  3260721.12  3260721       12  32.0       Zacatecas
90464  3260721.13  3260721       13  32.0       Zacatecas
90465  3260721.14  3260721       14  32.0       Zacatecas
90466  3260721.16  3260721       16  32.0       Zacatecas

[90467 rows x 5 columns]

In [69]:
TVivienda_ent.to_csv("C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/CSV_FINALES/TVivienda_ent.csv", encoding='latin-1')

## TPer_Vic1

In [70]:
aux=TPer_Vic1_brut[["ID_VIV","ID_HOG","ID_PER"]]
aux=aux.groupby(['ID_VIV'])['ID_PER'].nunique().reset_index(name='count')
aux[aux['count']>1]
# hay 1047 casas que entrevistaron a mÃ¡s de 1 persona

           ID_VIV  count
136     100279.02      3
158     100345.03      2
166     100354.02      2
196     100404.01      2
272     100539.02      2
...           ...    ...
90199  3260525.01      3
90286  3260586.16      3
90312  3260629.02      2
90364  3260689.15      2
90370  3260689.21      2

[1407 rows x 2 columns]

In [71]:
TPer_Vic1_filtra=TPer_Vic1_brut[["ID_VIV","ID_HOG","ID_PER","VIV_SEL","HOGAR","RESUL_H","NOM_ENT","UPM","R_SEL","AP5_4_01","AP5_4_02","AP5_4_03","AP5_4_04","AP5_4_05","AP5_4_06","AP5_4_07","AP5_4_08","AP5_4_09","AP5_4_10"]]
TPer_Vic1_filtra

,ID_VIV,ID_HOG,ID_PER,VIV_SEL,HOGAR,RESUL_H,NOM_ENT,UPM,R_SEL,AP5_4_01,AP5_4_02,AP5_4_03,AP5_4_04,AP5_4_05,AP5_4_06,AP5_4_07,AP5_4_08,AP5_4_09,AP5_4_10
0,100005.01,0100005.01.01,0100005.01.01.02,1,1,B,Aguascalientes,100005,2,1,4,1,4,4,4,4,1,1,
1,100005.02,0100005.02.01,0100005.02.01.01,2,1,B,Aguascalientes,100005,1,3,,4,3,,,,4,,
2,100005.04,0100005.04.01,0100005.04.01.02,4,1,B,Aguascalientes,100005,2,,9,,,,,,2,,
3,100005.05,0100005.05.01,0100005.05.01.01,5,1,A,Aguascalientes,100005,1,2,3,2,9,,,,2,9,
4,100012.01,0100012.01.01,0100012.01.01.01,1,1,B,Aguascalientes,100012,1,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92098,3260721.11,3260721.11.01,3260721.11.01.03,11,1,B,Zacatecas,3260721,3,1,1,1,1,,,,1,1,
92099,3260721.12,3260721.12.01,3260721.12.01.01,12,1,B,Zacatecas,3260721,1,,4,1,1,,,,1,,
92100,3260721.13,3260721.13.01,3260721.13.01.02,13,1,B,Zacatecas,3260721,2,,2,2,2,,,,,,
92101,3260721.14,3260721.14.01,3260721.14.01.02,14,1,B,Zacatecas,3260721,2,,2,2,1,2,,,2,2,
92102,3260721.16,3260721.16.01,3260721.16.01.02,16,1,B,Zacatecas,3260721,2,,2,2,1,1,1,,1,,

In [72]:
TPer_Vic1_filtra["AP5_4_01"].unique()
levels=['1', '2', '3', '4', '9', '']
confianza=["Highly_reliable", "Somewhat_reliable", "Some_distrust","High_distrust","Dont_know_no_answer","Does_not_know_the_authority"]

In [73]:
codigo_confianza=pd.DataFrame({'levels': levels, 'confianza': confianza})
codigo_confianza

  levels                    confianza
0      1              Highly_reliable
1      2            Somewhat_reliable
2      3                Some_distrust
3      4                High_distrust
4      9          Dont_know_no_answer
5         Does_not_know_the_authority

In [74]:
# pd.merge(TPer_Vic1_filtra, codigo_confianza, how='left', left_on='AP5_4_01', right_on='levels')

In [75]:
TPer_Vic1_filtra.to_csv("C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/CSV_FINALES/TPer_Vic1_filtra.csv",encoding='latin-1')

## TMod_Vic

In [76]:
casa_TMod_Vic="C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/conjunto_de_datos_ENVIPE_2022_csv/conjunto_de_datos_TMod_Vic_ENVIPE_2022/conjunto_de_datos/conjunto_de_datos_TMod_Vic_ENVIPE_2022.csv"
TMod_Vic_brut=pd.read_csv(casa_TMod_Vic, encoding='latin1', dtype={'AREAM_OCU': str,'FAC_DEL_AM': str})
TMod_Vic_brut

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100075.04,0100075.04.01\r,0100075.04.01.02\r,0100075.04.01.02.13.1\r,100075,4,1,1,1,13,...,\r,\r,\r,3\r,662,662\r,U\r,3,2,13
1,160086.17,0160086.17.01\r,0160086.17.01.03\r,0160086.17.01.03.13.1\r,160086,17,1,1,1,13,...,\r,\r,\r,3\r,1106,1106\r,R\r,2,11,290
2,101491.01,0101491.01.01\r,0101491.01.01.01\r,0101491.01.01.01.03.1\r,101491,1,1,1,1,3,...,\r,\r,\r,\r,244,244\r,U\r,4,3,187
3,102217.02,0102217.02.01\r,0102217.02.01.03\r,0102217.02.01.03.02.3\r,102217,2,1,3,5,2,...,\r,\r,\r,\r,244,244\r,C\r,2,10,273
4,101491.01,0101491.01.01\r,0101491.01.01.01\r,0101491.01.01.01.02.1\r,101491,1,1,1,1,2,...,\r,\r,\r,\r,244,244\r,U\r,4,3,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36139,3002778.02,3002778.02.01\r,3002778.02.01.02\r,3002778.02.01.02.09.1\r,3002778,2,1,1,1,9,...,\r,\r,\r,\r,1152,\r,U\r,2,567,12176
36140,3008419.13,3008419.13.01\r,3008419.13.01.01\r,3008419.13.01.01.09.1\r,3008419,13,1,1,1,9,...,\r,\r,\r,\r,556,\r,C\r,2,579,12354
36141,2804836.04,2804836.04.01\r,2804836.04.01.01\r,2804836.04.01.01.04.1\r,2804836,4,1,1,1,4,...,\r,\r,\r,\r,315,\r,U\r,2,501,11441
36142,3002797.04,3002797.04.01\r,3002797.04.01.02\r,3002797.04.01.02.09.1\r,3002797,4,1,1,1,9,...,\r,\r,\r,\r,1793,\r,U\r,2,567,12177
36143,2601003.02,2601003.02.01\r,2601003.02.01.01\r,2601003.02.01.01.02.1\r,2601003,2,1,1,1,2,...,\r,\r,\r,\r,458,\r,U\r,2,465,10508

In [77]:
TMod_Vic_filtra=TMod_Vic_brut[['ID_VIV','ID_HOG','ID_PER','VIV_SEL','HOGAR','BP1_23']].replace({'\r': ''}, regex=True)
TMod_Vic_filtra

           ID_VIV         ID_HOG            ID_PER  VIV_SEL  HOGAR BP1_23
0       100075.04  0100075.04.01  0100075.04.01.02        4      1     07
1       160086.17  0160086.17.01  0160086.17.01.03       17      1     07
2       101491.01  0101491.01.01  0101491.01.01.01        1      1     06
3       102217.02  0102217.02.01  0102217.02.01.03        2      1     04
4       101491.01  0101491.01.01  0101491.01.01.01        1      1     06
...           ...            ...               ...      ...    ...    ...
36139  3002778.02  3002778.02.01  3002778.02.01.02        2      1     04
36140  3008419.13  3008419.13.01  3008419.13.01.01       13      1     06
36141  2804836.04  2804836.04.01  2804836.04.01.01        4      1     07
36142  3002797.04  3002797.04.01  3002797.04.01.02        4      1     03
36143  2601003.02  2601003.02.01  2601003.02.01.01        2      1     04

[36144 rows x 6 columns]

In [78]:
TMod_Vic_filtra['BP1_23'].unique()

array(['07', '06', '04', '', '05', '09', '03', '01', '08', '99', '02'],
      dtype=object)

In [79]:
levels=['01', '02', '03', '04', '05', '06','07','08', '09', '99', '']
valores=["Fear_of_the_aggressor","Fear_of_extortion","Minor_crime","Waste_of_time","Long_and_difficult_procedures","Mistrust_in_authority","No_evidence",
         "Hostile_attitude_from_the_authority", "Other","Dont_know_no_answer","Didnt_apply"]
no_denuncia=pd.DataFrame({'levels': levels, 'razon': valores})
no_denuncia
# 01 Por miedo al agresor 
# 02 Por miedo a que lo
# extorsionaran
# 03 Delito de poca importancia
# 04 PÃ©rdida de tiempo
# 05 TrÃ¡mites largos y difÃ­ciles
# 06 Desconfianza en la
# autoridad
# 07 No tenÃ­a pruebas
# 08 Por actitud hostil de la
# autoridad
# 09 Otra
# 99 No sabe / no responde
# b blanco

   levels                                razon
0      01                Fear_of_the_aggressor
1      02                    Fear_of_extortion
2      03                          Minor_crime
3      04                        Waste_of_time
4      05        Long_and_difficult_procedures
5      06                Mistrust_in_authority
6      07                          No_evidence
7      08  Hostile_attitude_from_the_authority
8      09                                Other
9      99                  Dont_know_no_answer
10                                 Didnt_apply

In [80]:
TMod_Vic_final=pd.merge(TMod_Vic_filtra, no_denuncia, how='left', left_on='BP1_23', right_on='levels')
TMod_Vic_final

,ID_VIV,ID_HOG,ID_PER,VIV_SEL,HOGAR,BP1_23,levels,razon
0,100075.04,0100075.04.01,0100075.04.01.02,4,1,07,07,No_evidence
1,160086.17,0160086.17.01,0160086.17.01.03,17,1,07,07,No_evidence
2,101491.01,0101491.01.01,0101491.01.01.01,1,1,06,06,Mistrust_in_authority
3,102217.02,0102217.02.01,0102217.02.01.03,2,1,04,04,Waste_of_time
4,101491.01,0101491.01.01,0101491.01.01.01,1,1,06,06,Mistrust_in_authority
...,...,...,...,...,...,...,...,...
36139,3002778.02,3002778.02.01,3002778.02.01.02,2,1,04,04,Waste_of_time
36140,3008419.13,3008419.13.01,3008419.13.01.01,13,1,06,06,Mistrust_in_authority
36141,2804836.04,2804836.04.01,2804836.04.01.01,4,1,07,07,No_evidence
36142,3002797.04,3002797.04.01,3002797.04.01.02,4,1,03,03,Minor_crime
36143,2601003.02,2601003.02.01,2601003.02.01.01,2,1,04,04,Waste_of_time

In [81]:
TMod_Vic_final['razon'].unique()

array(['No_evidence', 'Mistrust_in_authority', 'Waste_of_time',
       'Didnt_apply', 'Long_and_difficult_procedures', 'Other',
       'Minor_crime', 'Fear_of_the_aggressor',
       'Hostile_attitude_from_the_authority', 'Dont_know_no_answer',
       'Fear_of_extortion'], dtype=object)

In [82]:
TMod_Vic_final.to_csv("C:/Users/Aiza/Documents/ESSEC Verano/BI/PROYECTO/DATOS_A_USAR/CSV_FINALES/TMod_Vic_final.csv", encoding='latin-1')